<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de sucursales</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Control de sucursales</a>
    <div class="collapse navbar-collapse" id="collapisbleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@{/sucursales}">Control de sucursales </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1>Lista de sucursales</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/sucursales/new}" class="btn btn-primary btn-sm mb3">Añadir Sucursal

            </a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nombre de la Sucursal</th>
            <th>Pais de la Sucursal</th>
            <th>Tipo de Sucursal</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
            <tr th:each="sucursal : ${sucursales}">
                <td th:text="${sucursal.nombreSucursal}">Nombre de la Sucursal</td>
                <td th:text="${sucursal.paisSucursal}">Pais de la Sucursal</td>
                <td th:text="${sucursal.tipoSucursal}">Tipo de Sucursal</td>

                <a th:href="@{/sucursales/edit/{id}(id=${sucursal.id})}" class="btn btn-info">Edit</a>
                <a th:href="@{/sucursales/{id}(id=${sucursal.id})}" class="btn btn-danger">Delete</a>

            </tr>
        </tbody>

    </table>

</div>

</body>
</html>